{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block body %}
<div class="container-fluid my-0 px-0">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/img/1.jpg" width="1000" height="600" class="d-block w-100" alt="</b>Picture not found</b>">
      </div>
      <div class="carousel-item">
        <img src="static/img/2.jpeg" width="1200" height="600" class="d-block w-100" alt="Picture not found">
      </div>
      <div class="carousel-item">
        <img src="static/img/3.jpg" width="1200" height="600" class="d-block w-100" alt="Picture not found">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


  <div class="album py-2 bg-light">
    <div class="container my-2">
<h1 class="my-3 text-center">Explore from our Journeys</h1/
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/img/explore1.jpg" width="150" height="300" class="d-block w-50" alt="</b>Picture not found</b>">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        
        

        <div class="col">
          <div class="card shadow-sm">
            <img src="static/img/explore2.jpg" width="150" height="300" class="d-block w-50" alt="</b>Picture not found</b>">


            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/img/explore3.jpg" width="150" height="300" class="d-block w-50" alt="</b>Picture not found</b>">


            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/img/explore4.jpg" width="150" height="300" class="d-block w-50" alt="</b>Picture not found</b>">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="static/img/explore5.jpeg" width="150" height="300" class="d-block w-50" alt="</b>Picture not found</b>">


            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
       
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/img/explore6.jpg" width="150" height="300" class="d-block w-50" alt="</b>Picture not found</b>">


            <div class="card-body">
              <p class="card-text">Ploceidae are a own circle of relatives of small passerine birds, a lot of which might be referred to as weavers, weaverbirds, weaver finches and bishops. Their names come from the intricately woven plant nests that birds of this own circle of relatives construct. In the maximum current classification, Proceidae is a collection that excludes a few birds which have traditionally been grouped into families.A few sparrows, however such as the monotypic subfamily Ambriospiginae. This own circle of relatives is assumed to have originated withinside the center Miocene. All Ploceidae birds are local to the Old World and stay mainly in sub-Saharan Africa, even though a few are determined withinside the tropics of Asia. Some species had been added outdoor their local range.

                Howeverflies had been added in 1836 through Swedish zoologist Karl Jacob his Sandeval. Phylogenetic research imply that this own circle of rela<span id="dots">...</span><span id="more">tives is the sister of a clade containing his Viduidae and his Estrildidae. Their not unusualplace ancestor lived withinside the Middle Miocene, approximately 18 million years ago.
                
                Weavers are named for his or her intricately woven nests. Nest size, shape, substances used, and production strategies range through species. Materials used to construct nests encompass excellent leaf fibers, grass, and twigs. It weaves very excellent nests from bundles of fibers, however a few, just like the buffalo weaver, shape huge, disorderly rod-like nests inside their colonies, and occasionally weave round nests.African gregarious weavers. They construct residential nests in separate bottle-formed chambers with a hundred to three hundred mating pairs coming thru the burrows from below. increase. Most species nest with a slender front down.
                
                They sometimes cause crop damage, notably the red-billed quelea, reputed to be the world's most numerous bird.
                
                Ploceidae seen in Bangladesh in the last time of summer when weather getting Rainy. Ploceadae speacially seen in Bangladesh in Plum tree mostly. 
                They make their unique nest in plum tree using rare dry straw. During summer all day they work hard to find  dry straw. Because before Raniny season they need to collect all dry straw to build their nest. If they could not bcollect dry straw during summer then all type of straw become wet in rain and they could be homeless.
                Mostly they start collecting dry straw in summer at the last time of when farmer cutting thei newly rowing all golden Paddy Crops. This crops cutting journey  makes smile in the face of all farmers those work hard in hot summer and heavy rain to protect their crops. And also this time this journey makes easy to to build their nest by availibility of dry straw.
                
                Nature protects Natural and living being itselfs.Every natural being happens for living being then it returns good and sometimes bad to them. If we take care of nature it will protect us and fullfill all our demands. If we don't then that will be curse for us.
                
                Ploceidae's make their own nest by itself. They don't stay in others nest. And they makes it before time. They don't dependent to anyone.
                
                Nature and all natural living being gives us motive gives us a way to live. Nature gives food, Nature gives oxyzen, Nature gives shades in life, nature gives joy by its own beauty.  Ploceidaes gives motives how work hard when it is actual time to work. Don't waste that time. If we waste you have to suffer when we have no time to work. If we work in time you can chill out after that time. </span></p>
                <button onclick="myFunction()" id="myBtn">Read more</button>
                <style>
                  #more {display: none;}
                  </style>
                <script>
                <script>
                  function myFunction() {
                    var dots = document.getElementById("dots");
                    var moreText = document.getElementById("more");
                    var btnText = document.getElementById("myBtn");
                  
                    if (dots.style.display === "none") {
                      dots.style.display = "inline";
                      btnText.innerHTML = "Read more"; 
                      moreText.style.display = "none";
                    } else {
                      dots.style.display = "none";
                      btnText.innerHTML = "Read less"; 
                      moreText.style.display = "inline";
                    }
                  }
                  </script>
                  
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock body %}


